<ul class="recipes">
    <li *ngFor="let recipe of recipes" appInvertColorOnHover>
      <a routerLink="/recipe/{{recipe.id}}" >
      <span class="badge">{{recipe.time}} min</span>{{recipe.name}}
      </a>
      <button class="delete" title="delete recipe"
        (click)="delete(recipe)">x</button>
    </li>
</ul>

<section>
    <label>Recipe Id:
        <input #recipeId />
    </label>
  <label>Recipe name:
    <input #recipeName />
  </label>
  <label>Recipe course:
      <input #recipeCourse />
  </label>
  <label>Recipe cuisine:
      <input #recipeCuisine />
  </label>
  <label>Recipe holiday:
      <input #recipeHoliday />
  </label>
  <label>Recipe time:
      <input #recipeTime />
  </label>

  <button (click)="add(recipeId.value,
    recipeName.value, 
    recipeCourse.value,
    recipeCuisine.value,
    recipeHoliday.value,
    recipeTime.value); 
    recipeName.value='';
    recipeCourse.value='';
    recipeCuisine.value='';
    recipeHoliday.value='';
    recipeTime.value='';
    ">Add</button>

</section>