.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

button {
  border:none;
  background: none;
  outline: none;
  background-color: chartreuse;
  padding:1.1em;
  margin:1em;
  color: azure;
  border-radius: 5%;
  box-shadow: 0.1em 0.2em 0.3em black;
  cursor: pointer;
}

.login input {
  border: 0.1em solid rgba(0,249,255,0.9);
  width:20em;
  height: 3em;
  text-align: center;
}

.login a {
  color: azure;;
}

button:hover {
  color: chartreuse;
  background-color: azure;
}