.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1em;
}
.filters section {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.filters button {
  border:none;
  background: none;
  outline: none;
  border-radius: 5%;
  width:auto;
  font-size: 1em;
  padding:0.5em;
  background-color: blueviolet;
  color: azure;
  box-shadow: 0.1em 0.2em 0.3em black;
  cursor: pointer;
  margin: 1em 0;
  min-width: 200px;
}
.filters button:hover {
  background-color: azure;
  color: blueviolet;
}

input[type="checkbox"], input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  width:1.25em;
  height:1.25em;
  background-color: white;
  margin-right: 0.5em;
}
input[type="radio" ] {
  border-radius: 100%;
}


input[type="checkbox" ]:checked, input[type="radio" ]:checked {
 
  background-color: greenyellow;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.25em 0;
  background-color: blueviolet;
  min-width:200px;
  border-radius: 5%;
  padding: 0.2em 0;
}

.search-bar {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;

}
.search-bar input#search-box {
  border: none;
  width:20em;
  height: 3em;
  text-align: center
}
.search-bar input {
  margin-top: 1em;
}

.search-result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-result > li  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  margin: 2em;
  border: 0.1em solid black;
  box-shadow: 0.1em 0.2em 0.3em black;
  min-width: 300px;
}
.search-result > li > a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 300px;
  color: azure;
}
.search-result figure, .search-result button {

  align-self: center;
}

.search-result > li > a > * {
 
  margin: 0.5em

}
.search-result h4 {
 
  padding: 0.25em 0;

}

.search-result li ul li {

  line-height: 1.2;
}
.search-result button {
  border:none;
  background: none;
  outline: none;
  border-radius: 100%;
  width:auto;
  font-size: 2em;
  padding:0.25em 0.5em;
  background-color: azure;
  color: #607D8B;
  box-shadow: 0.1em 0.2em 0.3em black;
  margin-bottom: 0.5em;
  cursor: pointer;
}

h2 {
  color: #607D8B;
  font-size: 2.5em;
  margin: 2em 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media only screen and (max-width: 1200px) {
  .filters {
    flex-direction: column;
    justify-content: flex-start;
  }
}