<section id="search-component">
  <h4>Recipe Search</h4>
  <input #searchBox id="search-box"
    (keyup)="search(searchBox.value)" />
    <section>
        <h4>Courses</h4>
          <div *ngFor="let course of courses" >
            <input type="checkbox" name="course" (click)='handleParams(course)'>{{course.name}}
          </div>
    </section>
    <section>
        <h4>Allergies</h4>
      <div *ngFor="let allergie of allergies" >
        <input type="checkbox" name="allergie" (click)='handleParams(allergie)'>{{allergie.name}}
      </div>
    </section>
    <section>
      <h4>Diets</h4>
      <div *ngFor="let diet of diets" >
        <input type="checkbox" name="diet" (click)='handleParams(diet)'>{{diet.name}}
      </div>
    </section>
    <section>
        <h4>Holidays</h4>
        <div *ngFor="let holiday of holidays" >
          <input type="checkbox" name="holiday" (click)='handleParams(holiday)'>{{holiday.name}}
        </div>
    </section>
    <section>
        <h4>Cuisines</h4>
        <div *ngFor="let cuisine of cuisines" >
          <input type="checkbox" name="cuisine" (click)='handleParams(cuisine)'>{{cuisine.name}}
        </div>
    </section>
  <ul class="search-result">
    <li *ngFor="let recipe of recipes$ | async" >
      <a routerLink="/recipe/{{recipe.id}}">
      name: {{recipe.name}}
      </a>
    </li>
  </ul>
</section>