<section id="search-component">
  <div class="search-bar">
  <h4>Recipes</h4>
  <input #searchBox id="search-box"
    (keyup)="search(searchBox.value)" placeholder="Search"/>
  </div>
    <div class="filters">
    <section>
        <button (click)="showCourses = !showCourses" appInvertColorOnHover>Courses</button>
          <div *ngIf="showCourses">
            <div  class="courses"*ngFor="let course of courses" >
              <input type="checkbox" name="course" (click)='handleParams(course)'>
              <p>{{course.name}}</p>
            </div>
        </div>
    </section>
    <section>
      <button (click)="showAllergies = !showAllergies" appInvertColorOnHover>Allergies</button>
      <div *ngIf="showAllergies">
        <div *ngFor="let allergie of allergies" >
          <input type="checkbox" name="allergie" (click)='handleParams(allergie)'>
          <p>{{allergie.name}}</p>
        </div>
      </div>
    </section>
    <section>
      <button (click)="showDiets = !showDiets "appInvertColorOnHover>Diets</button>
      <div *ngIf="showDiets">
        <div *ngFor="let diet of diets" >
          <input type="checkbox" name="diet" (click)='handleParams(diet)'>{{diet.name}}
        </div>
      </div>
    </section>
    <section>
        <button (click)="showHolidays = !showHolidays" appInvertColorOnHover>Holidays</button>
        <div *ngIf="showHolidays">
          <div *ngFor="let holiday of holidays" >
            <input type="checkbox" name="holiday" (click)='handleParams(holiday)'>
            <p>{{holiday.name}}</p>
          </div>
        </div>
    </section>
    <section>
        <button (click)="showCuisines = !showCuisines" appInvertColorOnHover>Cuisines</button>
        <div *ngIf="showCuisines">
          <div class="checkbox-group" *ngFor="let cuisine of cuisines" >
            <input type="checkbox" name="cuisine" (click)='handleParams(cuisine)'>
            <p>{{cuisine.name}}</p>
          </div>
        </div>
    </section>
    <section>
        <button (click)="showTotalTimes = !showTotalTimes" appInvertColorOnHover>Max TotalTime</button>
        <div *ngIf="showTotalTimes">
          <div *ngFor="let totalTime of totalTimes" >
            <input type="radio" name="holiday" (click)='handleParams(totalTime)'>
            <p>{{totalTime.name}}</p>
          </div>
        </div>
    </section>
  </div>
  <ul class="search-result">
    <li *ngFor="let recipe of recipes$ | async" >
      <a routerLink="/recipe/{{recipe.id}}">
      name: {{recipe.name}}
      </a>
      <img src="{{recipe.imgUrl}}">
      <ul *ngIf="recipe.courses.length">
          <h4>Course:</h4>
        <li *ngFor="let course of recipe.courses">
            {{course}}
        </li>
      </ul>
      <p>Time: {{recipe.time}} min</p>
      <ul *ngIf="recipe.cuisines.length">
          <h4>Cuisine:</h4>
        <li *ngFor="let cuisine of recipe.cuisines">
            {{cuisine}}
        </li>
      </ul>
      <ul *ngIf="recipe.holidays.length">
          <h4>Holiday:</h4>
        <li *ngFor="let holiday of recipe.holidays">
            {{holiday}}
        </li>
      </ul>
      <ul *ngIf="recipe.ingredients.length">
        <h4>Ingredients:</h4>
        <li *ngFor="let ingredient of recipe.ingredients">
          {{ingredient}}
        </li>
      </ul>
      <button (click)="add(recipe)">Add to list</button>
      </li>
  </ul>
</section>