<article class="recipe"*ngIf="recipe">
    <h2>{{recipe.name}}</h2>
    <figure>
      <img src="{{recipe.imgUrl}}">
    </figure>
    <ul *ngIf="recipe.courses.length">
        <h4>Course:</h4>
      <li *ngFor="let course of recipe.courses">
          {{course}}
      </li>
    </ul>
    <p>Time: {{recipe.time}} min</p>
    <ul *ngIf="recipe.cuisines.length">
        <h4>Cuisine:</h4>
      <li *ngFor="let cuisine of recipe.cuisines">
          {{cuisine}}
      </li>
    </ul>
    <ul *ngIf="recipe.holidays.length">
        <h4>Holiday:</h4>
      <li *ngFor="let holiday of recipe.holidays">
          {{holiday}}
      </li>
    </ul>
    <ul *ngIf="recipe.ingredients.length">
      <h4>Ingredients:</h4>
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ingredient}}
        <form #selectedIngredientsList="ngForm" (ngSubmit)="addIngredients(selectedIngredientsList, [ingredient])">
          <select #list="ngModel" name="listId" ngModel >
            <option *ngFor="let list of ingredientLists" value="{{list.id}}">{{list.name}}</option>
          </select>
          <button>add ingredient to list</button>
        </form>
      </li>
    </ul>
    <form #selectedIngredientsList="ngForm" (ngSubmit)="addIngredients(selectedIngredientsList, recipe.ingredients)">
      <select #list="ngModel" name="listId" ngModel >
        <option *ngFor="let list of ingredientLists" value="{{list.id}}">{{list.name}}</option>
      </select>
      <button>add all ingredirents to list</button>
    </form>
    <a href="{{recipe.recipeLink}}">Click for more detailed instructions</a>
    <div>
      <button id="goBack"(click)="goBack()">go back</button>
      <form #selectedList="ngForm" (ngSubmit)="addRecipe(selectedList, recipe)">
        <select #list="ngModel" name="listId" ngModel >
        <option *ngFor="let list of recipeLists" value="{{list.id}}">{{list.name}}</option>
        </select>
        <button>add recipe to list</button>
      </form>
    </div>
  </article>