.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.recipe  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #607D8B;
  margin: 2em auto;
  font-size: 1.5em;
  width: 85%;
}

.recipe > * {

  margin: 0.5em;
}

.recipe h4 { 

  padding: 0.25em 0;
}

.recipe ul li {
  display:flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.2;
}
.recipe ul li p {
  margin-right: 1em;
}
.recipe ul li form {
  display:flex;
  flex-direction: row;
  align-items: center;
}
.recipe button {
  border:none;
  background: none;
  outline: none;
  width:auto;
  max-height: 1.5em;
  font-size: 1.25em;
  padding:0.25em 0.4em;
  background-color: chartreuse;
  color: azure;
  box-shadow: 0.1em 0.2em 0.3em black;
  margin: 0.25em;
  cursor: pointer;
}
.recipe button:hover {
  background-color: azure;
  color: chartreuse;
}

.recipe h2 {
  font-size: 2em;
  text-align: left;
  margin-left: 0;
}