<div *ngIf="recipe">
    <button (click)="goBack()">go back</button>
    <h2>{{recipe.name}}</h2>
    <label>name:
      <input [(ngModel)]="recipe.name" placeholder="name">
    </label>
    <button (click)="save()">save</button>
    <p>Type: {{recipe.type}}</p>
    <p>Time: {{recipe.time}} min</p>
    <p>Servings: {{recipe.servings}}</p>
    <p>Description {{recipe.description}}</p>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}}
      </li>
    </ul>
  </div>