h2 {
  color: teal;
  font-family: Arial, Helvetica, sans-serif;
}
 
button.clear {
  position: relative;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  color: #888;
  margin-bottom: 12px;
  margin-left: 46%;
}

 h2, p {
  text-align: center;
  padding: 1em 0;
}

p{
  color: #888;
}

.modal {
  background-color: khaki;
  display:block;
  position: fixed;
  z-index: 1;
  left: 29%;
  top: 50%;
  width: 40%;
  height: auto;
  border: 0.1em solid gainsboro;
  box-shadow: 0.15em 0.3em 0.4em black;
}